player-connection-mode=Listen
player-connection-guid=609617847
player-connection-debug=0
player-connection-project-name=Necromancy
player-connection-ip=192.168.1.64
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7ced9ab1ab134d5f8244885c088a5db9
